@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-solid: #fdfdfd;
    --secondary-solid: #101010;
    --shadows: rgba(0,0,0,.2);
    --splash-width: 100vw;
    --splash-height: 61.8vw;
    --padding: 30pt;
    --element-reference: var(--splash-height);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-solid);
}

header {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--secondary-solid);
    transition: height 0.3s ease-out;
    will-change: height;
}

header .wrapper {
    display: flex;
    width: var(--splash-width);
    height: calc(var(--element-reference) / 6.8535);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    height: 32px;
    width: 32px;
    margin-left: 30px;
}

.logo .cls-1 {
    fill: var(--primary-solid);
}

.hamburger {
    display: block;
    margin-right: 30px;
}

.hamburger .ln {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background-color: var(--primary-solid);
    opacity: 1;
    transition: transform 0.25s ease, opacity 0.25s ease;
    will-change: transform, opacity;
}

.hamburger.x .ln1 {
    transform: rotate(-45deg) translate(-2px, 8px);
}

.hamburger.x .ln2 {
    opacity: 0;
}

.hamburger.x .ln3 {
    transform: rotate(45deg) translate(-2px, -8px);
}

nav {
    display: block;
    width: var(--splash-width);
    margin: 0 auto;
    overflow: hidden;
}

ul.nav {
    height: 0px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: height 0.25s ease;
    will-change: height;
}

li.nav {
    display: block;
    text-align: right;
}

li.nav a {
    display: block;
    padding: 20px 30px;
    color: var(--primary-solid);
    font: 400 12.5pt 'Roboto', sans-serif;
    text-decoration: none;
}

li.nav:hover a {
    text-decoration: underline;
}

main {
    overflow-x: hidden;
    transition: height 0.5s ease;
    will-change: height;
}

main .wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: calc(var(--element-reference) / 6.8535) 0;
}

main .wrapper.photo {
    background-color: var(--primary-solid);
}

main .wrapper.dev {
    background-color: var(--secondary-solid);
}

.loader {
    display: block;
    margin: 0 auto;
}

.heroWrap {
    display: block;
    position: relative;
    height: calc(100vh - (var(--element-reference) / 6.8535));
    width: 100%;
    background-color: var(--secondary-solid);
    overflow: hidden;
}

.hero {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-bottom: 60%;
}

.splash {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.splash .splashImg {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translateX(calc(var(--element-reference) / 6.8535));
    will-change: transform;
    width: 86.3vw;
    height: auto;
    transition: transform 0.05s;
    z-index: -1;
}

.splash .content {
    position: absolute;
    right: 40%;
    bottom: 50%;
    width: 45vw;
    z-index: 1;
}

.content svg.title {
    height: auto;
    width: 100%;
}

svg.title text {
    fill: var(--primary-solid);
    font: 700 85px 'Heebo', sans-serif;
}

svg.title text::selection {
    fill: var(--secondary-solid);
    background-color: rgba(253, 253, 253, 0.99);
}

.content .subtitle {
    color: var(--primary-solid);
    font: 300 1.7vw 'Roboto', sans-serif;
    transform: translateY(0.3vw);
}

.content .subtitle::selection {
    color: var(--secondary-solid);
    background-color: rgba(253, 253, 253, 0.99);
}

a.chevron {
    position: absolute;
    left: 50%;
    bottom: 20pt;
}

i.chevron {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 50pt;
    padding: 10px;
    transform: translateX(-50%) rotate(45deg);
    border: solid var(--primary-solid);
    border-width: 0 2px 2px 0;
}

/* Introduction */
.story {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: calc(var(--element-reference) / 11.09) 0;
}

.story .intro {
    display: grid;
    position: relative;
    width: 85vw;
    height: 52.5vw;
    margin: 0 auto;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.story .intro .wrap {
    display: block;
    width: 100%;
    height: 100%;
}

.intro .wrap img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 42.5vw;
    margin: 0 auto;
}

.intro .wrap h1 {
    display: block;
    color: var(--primary-solid);
    font: 700 4.8vw 'Heebo', sans-serif;
    margin: 0;
    padding: 0 0 0 3.75vw;
}

.intro .wrap p {
    display: block;
    color: var(--primary-solid);
    font: 400 1.24vw 'Roboto', sans-serif;
    line-height: 2vw;
    padding: 0 0 0 3.75vw;
}


/* View Breakpoints */
@media screen and (min-width: 1440px) {
    :root {
        --splash-width: 1440px;
    }
}
@media screen and (min-width: 1024px) {
    :root {
        --splash-width: 1024px;
        --splash-height: 633px;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --padding: 15pt;
    }
}
@media screen and (max-width: 600px) {
    :root {
        --splash-width: 100vw;
        --splash-height: 80vh;
        --padding: 10pt;
        --element-reference: var(--splash-width);
    }

    .hero {
        padding-bottom: 160%;
    }

    .splash .splashImg {
        top: 0px;
        bottom: auto;
        left: 50%;
        right: auto;
        height: 86.3vh;
        width: auto;
        transform: translateX(-50%);
    }

    .splash .content {
        bottom: auto;
        left: 50%;
        right: auto;
        bottom: 25%;
        width: 86.3vw;
        transform: translateX(-50%);
    }

    .content .subtitle {
        font: 300 4.5vw 'Roboto', sans-serif;
    }
}